@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
  @apply bg-light text-dark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn {
  @apply inline-block px-8 py-3 rounded-lg font-bold transition-all duration-300 transform hover:scale-105;
}

.btn-primary {
  @apply bg-primary text-white shadow-lg;
}

.btn-primary:hover {
  @apply bg-primary-hover;
}

.btn-action {
  @apply bg-action text-dark font-bold shadow-lg;
}

.btn-action:hover {
  @apply bg-opacity-90;
}
